@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) , url(background.jpg);
    background-position: center;
    background-size: 120px;
    margin: 0;
}
h1{
    margin: 0%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: 'Poiret One';
    line-height: 80px;
    background-color: black;
    color: white;
}
nav{
    background-color: rgb(161, 51, 245);
    display: flex;
    box-shadow:0px 6px 0px rgb(107, 31, 165);
}
.navroot{
    justify-content: space-evenly;
    width: 100%;
    align-content: center;
    font-family: 'Open Sans';
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}
li>p{
    margin: 0;
}
.navsubbutton{
    color: white;
    height:60px;
}
.navsubbutton:hover + .navsubmenu{
    max-height: 200px;
}
.navsubmenu:hover{
    max-height: 200px;
}
.navsubmenu{
    transition: max-height 1.2s;
    position: absolute;
    overflow: hidden;
    max-height: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0%;
    width: 190px;
}
.navsubmenu>li{
    font-size: medium;
    display: block;
    background-color: black;
    line-height: 40px;
    width: 180px;
}
li{
    border-left: 1px solid rgb(107, 31, 165);
    border-right: 1px solid rgb(107, 31, 165);
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    width: 200px;
    display: block;
}
a{
    text-decoration: none;
    color: white;
}
li:hover{
    background-color: rgb(68, 18, 107);
    box-shadow:0px 6px 0px rgb(80, 24, 123);
}
.active{
    background-color: rgb(68, 18, 107) !important;
    box-shadow:0px 6px 0px rgb(80, 24, 123);
}