@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(background.jpg);
    background-position: center;
    background-size: 120px;
    margin: 0;
}

h1{
    margin: 0%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: 'Poiret One';
    line-height: 80px;
    background-color: black;
    color: white;
}

nav{
    background-color: rgb(161, 51, 245);
    display: flex;
    box-shadow:0px 6px 0px rgb(106, 31, 163);
}

.navroot{
    justify-content: space-evenly;
    width: 100%;
    align-content: center;
    font-family: 'Open Sans';
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0px;
}

.active{
    background-color: rgb(82, 16, 133);
    box-shadow: 0px 6px 0px rgb(50, 8, 82);
}

.navroot li{
    border: solid rgb(106, 31, 163);
    border-width: 0px 1px;
}

.navroot li:hover{
    transform: translateY(6px);
    background-color: rgb(82, 16, 133);
    box-shadow: 0px -6px 0px rgb(50, 8, 82);
}

.navroot a, .navroot p{
    text-align: center;
    display: block;
    width: 200px;
    line-height: 60px;
    color: white;
    text-decoration: none;
}

.navroot p{
    margin: 0;
}

.navsubbutton{
    position: relative;
}

.navsubmenu{
    transition: max-height 1.5s;
    left: 5%;
    width: 90%;
    background-color: black;
    overflow: hidden;
    max-height: 0px;
    position: absolute;
    padding: 0%;
}

.navsubmenu:last-child{
    border: solid rgb(106, 31, 163);
    border-width: 0px 0px 1px 0px;
}
.navsubbutton:hover>.navsubmenu{
    max-height: 300px;
}

.navsubmenu>li:hover{
    background-color: rgb(82, 16, 133);
}

.navsubmenu>li>a{
    width: auto;
}