form{
    margin-left: 50px;
    margin-right: 50px;
    background-color: dimgray;
    border-radius: 3px;
}

form>div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

input{
    border-radius: 3px;
    height: 40px;
}

#email{
    margin-left: 15px;
    margin-top: 15px;
    flex-grow: 1;
}

#name{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    flex-grow: 1;
}

#fax{
    margin-top: 15px;
    margin-right: 15px;
    flex-grow: 1;
}

#subject{
    margin-top: 15px;
    margin-left: 15px;
    flex-grow: 2;
}

#phone{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    flex-grow: 1;
}

textarea{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    flex-grow: 1;
}