#projLinkContainer{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projLink{
    overflow: hidden;
    color: black;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.projLink>span{
    align-self: center;
    transition: 0.4s linear;
    letter-spacing: 10px;
    line-height: 90px;
    font-size: 90px;
    opacity: 0%;
    z-index: 1;
}

.projLink:hover>span{
    font-size: 80px;
    letter-spacing: -1px;
    opacity: 100%;
}

.projLink>img{
    transition: .2s ease-in-out;
    width: inherit;
    height: inherit;
    position: absolute;
    object-fit: fill;
}

.projLink{
    justify-content: center;
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    width: 49vw;
    height: 49vw;
}

a.projLink:hover img{
    filter: blur(2px);
}
